/**
  解决 vant组件 imagepreview,
  swiper 在PC模式不能滑动切换问题 
**/
.van-image-preview > img,
.van-swipe-item > img {
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  cursor: pointer;
}

/**
  所有页面路由过渡效果
*/
.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}